<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>City_sel</servlet-name>
        <servlet-class>newpackage.City_sel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Area_sel</servlet-name>
        <servlet-class>newpackage.Area_sel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>newpackage.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>newpackage.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cont</servlet-name>
        <servlet-class>newpackage.Cont</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstP</servlet-name>
        <servlet-class>newpackage.FirstP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>newpackage.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vendor_reg_detail</servlet-name>
        <servlet-class>newpackage.Vendor_reg_detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vendor_menu_price</servlet-name>
        <servlet-class>Vendor_menu_price</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vendor_subscription1</servlet-name>
        <servlet-class>newpackage.Vendor_subscription1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vendor_hub</servlet-name>
        <servlet-class>newpackage.Vendor_hub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vend_hub</servlet-name>
        <servlet-class>newpackage.Vend_hub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VD</servlet-name>
        <servlet-class>newpackage.VD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vendor_menu_pric</servlet-name>
        <servlet-class>newpackage.Vendor_menu_pric</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>newpackage.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgPass</servlet-name>
        <servlet-class>ForgPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgPassw</servlet-name>
        <servlet-class>newpackage.ForgPassw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vendor</servlet-name>
        <servlet-class>newpackage.Vendor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vend</servlet-name>
        <servlet-class>newpackage.Vend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Single</servlet-name>
        <servlet-class>newpackage.Single</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHub</servlet-name>
        <servlet-class>newpackage.CustomerHub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SwitchRequest</servlet-name>
        <servlet-class>newpackage.SwitchRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminVendor</servlet-name>
        <servlet-class>newpackage.AdminVendor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Plan</servlet-name>
        <servlet-class>newpackage.Plan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryPage</servlet-name>
        <servlet-class>newpackage.DeliveryPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delivery</servlet-name>
        <servlet-class>newpackage.Delivery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coupon</servlet-name>
        <servlet-class>newpackage.Coupon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>newpackage.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCust</servlet-name>
        <servlet-class>newpackage.AdminCust</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>V2Cinvoice</servlet-name>
        <servlet-class>newpackage.V2Cinvoice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>City_sel</servlet-name>
        <url-pattern>/City_sel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Area_sel</servlet-name>
        <url-pattern>/Area_sel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cont</servlet-name>
        <url-pattern>/Cont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstP</servlet-name>
        <url-pattern>/FirstP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vendor_reg_detail</servlet-name>
        <url-pattern>/Vendor_reg_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vendor_menu_price</servlet-name>
        <url-pattern>/Vendor_menu_price</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vendor_subscription1</servlet-name>
        <url-pattern>/Vendor_subscription1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vendor_hub</servlet-name>
        <url-pattern>/Vendor_hub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vend_hub</servlet-name>
        <url-pattern>/Vend_hub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VD</servlet-name>
        <url-pattern>/VD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vendor_menu_pric</servlet-name>
        <url-pattern>/Vendor_menu_pric</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgPass</servlet-name>
        <url-pattern>/ForgPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgPassw</servlet-name>
        <url-pattern>/ForgPassw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vendor</servlet-name>
        <url-pattern>/Vendor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vend</servlet-name>
        <url-pattern>/Vend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Single</servlet-name>
        <url-pattern>/Single</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHub</servlet-name>
        <url-pattern>/CustomerHub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SwitchRequest</servlet-name>
        <url-pattern>/SwitchRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminVendor</servlet-name>
        <url-pattern>/AdminVendor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Plan</servlet-name>
        <url-pattern>/Plan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryPage</servlet-name>
        <url-pattern>/DeliveryPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delivery</servlet-name>
        <url-pattern>/Delivery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coupon</servlet-name>
        <url-pattern>/Coupon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCust</servlet-name>
        <url-pattern>/AdminCust</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>V2Cinvoice</servlet-name>
        <url-pattern>/V2Cinvoice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
